<table class="table mt-3">
    <thead>
    <tr>
        <th class="col-1">№</th>
        <th class="col">Продукт</th>
        <th class="col">Количество</th>
        <th class="col">Цена</th>
        <th class="col">Удалить</th>
    </tr>
    </thead>
    <tbody>
    {% for item in basket %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.product.name }}</td>
        <td>
            <input type="number" name="{{ item.pk }}"
                   min="0"
                   value="{{ item.quantity }}">
        </td>
        <td>{{ item.product.price }}</td>
        <td>
            <button class="btn btn-round">
                <a href="{% url 'basket:remove' item.pk %}" class="btn btn-danger">Удалить</a>
            </button>
        </td>
    </tr>
    {% endfor %}
</table>

{% if basket %}

<div class="row basket_summary">
    <div class="col-12">
        <h3>Всего товаров: {{ basket.0.total_quantity }}</h3>
        <h3>Общая стоимость: ${{ basket.0.total_cost|floatformat:"g" }}</h3>
    </div>
</div>
{% endif %}